### Java / Maven (Estoque) ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node / Vite (front) ###
node_modules/
dist/
*.local
*.tsbuildinfo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Configuração local ###
Estoque/HELP.md
Estoque/src/main/resources/application.properties
